.App{
    background-color: #ecf0f1;
}

.midbar {
    background-color: #95A5A6;
}

.json-table table,.json-table td, .json-table th {
    border: solid 1px grey;
    padding: 2px;
}

.table-input{
    width: 100px;
}

.btn-convert{
    background-color: #2c3e50;
    border: none;
    margin-top: 25px;
    position: absolute;
    top : -15px;
    left: 79%;
    z-index: 10000;
}

.btn-convert:hover{
    background-color: #34495e;
    cursor: pointer;
}

.table-area{
    margin-top: 15px;
    overflow-x: scroll;
    height: 92vh;
}

.padding-zero{
    padding: 0px !important;
}

.deleterow{
    color: #c0392b;
    cursor: pointer;
}
